flask
flask-bootstrap
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf

python-dotenv





#automium_web
#psycopg2-binary
#PyYAML
#flask-marshmallow
#flask_restful

#flask-restful-swagger
#flask-swagger-ui

#flask-script
#alembic

#sqlalchemy
